GeoLib.ClientWithReference/Service References/GeoService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GeoLib.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GeoLib.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ZipCodeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZipCodeData" nillable="true" type="tns:ZipCodeData" />
  <xs:complexType name="NotFoundData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="When" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotFoundData" nillable="true" type="tns:NotFoundData" />
  <xs:complexType name="ArrayOfZipCodeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZipCodeData" nillable="true" type="tns:ZipCodeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZipCodeData" nillable="true" type="tns:ArrayOfZipCodeData" />
  <xs:complexType name="ArrayOfZipCityData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZipCityData" nillable="true" type="tns:ZipCityData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZipCityData" nillable="true" type="tns:ArrayOfZipCityData" />
  <xs:complexType name="ZipCityData">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZipCityData" nillable="true" type="tns:ZipCityData" />
</xs:schema>